@using LibrosSalesianos.Models;
@using ClasesAlicanTeam.EN;
@{
    ViewBag.Title = "Página principal";
    List<ENAdvertisement> ads = new ENAdvertisement().ReadAll();
}
@section featured {

    @*@Scripts.Render("~/Scripts/LoadGarrely.js")*@
    <script type="text/javascript">
        $(document).ready(function () {
            // Create jqxNavigationBar
            $("#jqxnavigationbar").jqxNavigationBar({ width: 400, height: 400, expandMode: 'toggle', theme: 'custom' });
        });
    </script>

       <script type="text/javascript">
           $(document).ready(function () {
               // create jqxcalendar.
               $("#jqxcalendar").jqxCalendar({ width: 220, height: 200, theme: 'custom', titleFormat: "MMMM yyyy" });
           });
        </script>
  @Scripts.Render("~/Scripts/LoadGallery.js")
    <div class="cuerpo">
        <div class="news">@Html.Label("Noticias")</div>
            <div class="calendario">
                <div id='jqxcalendar'></div>              
            </div>
  

        <ul id="photoGallery" style =" margin-left:19%">
            <li><img class="images" src="~/Images/anuncio1.jpg" style="width:544Px; margin-right:45px"/></li>
            <li><img class="images" src="~/Images/anuncio2.jpg" style="width:544px; margin-right:45px"></li>
            <li><img class="images" src="~/Images/anuncio3.jpg" style="width:544px; margin-right:45px" /></li>
        </ul>
        
        <h3>@Html.Label("Ultimos Anuncios")</h3>

        <div id='jqxnavigationbar' style =" margin-left:19%">
            @foreach(ENAdvertisement ad in ads){
                if(ad.Books.Count != 0)
                {
            <div> @ad.Description</div>
                <div> 
                    @{var book1 = ad.Books[0];}
                    @Html.Partial("_UsedBookPartial", book1)
                </div>}}
        </div>
    @*<div class="calendario">*@
       @*<div id='jqxcalendar'></div>*@
    @*</div>*@

   }


    
